.layout {
  display: flex;
  position: absolute;
  min-height: 100%;
  width: 100%;
  background: '#fff';
  .content {
    width: auto;
    display: flex;
  }
  .sider {
    height: auto;
    padding: 0;
    background: '#fff';
  }
}
