.layout {
  display: flex;
  position: absolute;
  min-height: 100%;
  width: 100%;
  background: '#fff';
  .content {
    width: 80%;
    display: flex;
  }
  .sider {
    height: auto;
    width: auto;
    padding: 0;
    background: '#fff';
    .card {
      height: auto;
      display: flex;
    }
  }
}
