@import '~antd/dist/antd.less';

.sideBar {
  :global {
    .ant-layout-sider-trigger {
      position: relative;
    }
  }
  background: #ffffff;
  flex: 1;
  font-size: 14px;
  margin-left: 10px;
  .sideBarMenu {
    border-right: 1px;
  }
  .menu-tabs {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    .ant-tabs-content {
      flex: 1;
    }
    .ant-tabs-bar {
      margin: 0;
    }
    .ant-tabs-nav-wrap {
      height: 48px;
    }
    .ant-tabs-ink-bar {
      min-width: 80px;
    }
    .ant-tabs-nav {
      height: 48px;
      display: flex;
      flex-direction: row;
    }
    .ant-tabs-nav-container {
      padding: 0;
      .ant-tabs-tab-prev {
        width: 12px;
      }
      .ant-tabs-tab-next {
        width: 12px;
      }
    }
    .ant-tabs-tab {
      display: inline-flex;
      min-width: 80px;
      margin: 0;
    }
    .ant-tabs-tab > span {
      margin: auto;
      .anticon {
        vertical-align: middle;
        margin: auto;
      }
    }
  }
  .menu-card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
